/HotelCalifornia/nbproject/private/
/HotelCalifornia/build/
/S2-RetoJava/nbproject/private/
/S2-RetoJava/build/
/S3-RetoTransporte/nbproject/private/
/S3-RetoTransporte/build/
/Covid/nbproject/private/
/Covid/build/
/PruebaJDBC/nbproject/private/
/PruebaJDBC/build/
/S5-Reto-Stories/nbproject/private/
/S5-Reto-Stories/build/
/S6-Java-SQL-Pruebas/Parking24/build/
